@model EndPoints.WebUI.Models.ViewDetails.ViewDetailsViewModel
@{
    ViewData["Title"] = "ShoeDetail";
}



<div class="row" dir="rtl">
    <div class="col-xl-5 col-lg-5 col-md-6">
        <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active"> <img class="d-block w-100" src="images/big-img-01.jpg" alt="First slide"> </div>
                <div class="carousel-item"> <img class="d-block w-100" src="images/big-img-02.jpg" alt="Second slide"> </div>
                <div class="carousel-item"> <img class="d-block w-100" src="images/big-img-03.jpg" alt="Third slide"> </div>
            </div>

            <ol class="carousel-indicators">

                <li data-target="#carousel-example-1" data-slide-to="2">
                    <img class="d-block w-100 img-fluid" src="@Model.MainProduct.Image" alt="" />
                </li>
            </ol>
        </div>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-6">
        <div class="single-product-details">
            <h2>@Model.MainProduct.Name</h2>
            <h5>@Model.MainProduct.Price</h5>

            <p>
                <h4>توضیحات</h4>
            <p>
                @Model.MainProduct.Description
            </p>


            <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                    <a class="cart" asp-action="AddToCart" asp-controller="Cart" asp-route-productId="@Model.MainProduct.ProductID">Add to Cart</a>

                </div>
            </div>


        </div>
    </div>
</div>






<div class="row my-5">
    <div class="col-lg-12">
        <div class="title-all text-center">
            <h1>محصولات مرتبط</h1>

        </div>
        <div class="featured-products-box owl-carousel owl-theme">

            @foreach (var item in Model.ReletionProduct)
            {

                <div class="item">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="@item.Image" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <a data-toggle="tooltip" data-placement="right" title="View" asp-action="ShoeDetail" asp-controller="ViewDetails" asp-route-PrucuctId="@item.ProductID">
                                        <i class="fas fa-eye">
                                            VIEW
                                        </i>
                                    </a>

                                </ul>

                            </div>
                        </div>
                        <div class="why-text">
                            <h4>@item.Name name</h4>
                            <h5>@item.Price</h5>
                        </div>
                    </div>
                </div>

            }



        </div>
    </div>
</div>


